body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.btn-space{
  margin-right: 5px;
}

.navbar-static-top {
  margin-bottom: 0px;
}

.text-lex {
  color: #0057a8;
}

.btn-lex {
  background-color: #0057a8;
}

.title {
  font-weight: 700;
  margin-top: 15px;
  color: #34495e;
}

.subtitle {
  margin-top: 0px;
  color: #3498db;
}

.blue-title {
  color: #16a085;
}

.white {
  color: #FFF;
}

.bold {
  font-weight: 700;
}

.search-area {
  background-color: #3498DB;
}

#map-canvas { 
  height: 350px; 
}

.btn-responsive {
  white-space: normal;
  width: 100%;
  margin-bottom: 15px;    
}

.footer-text {margin-top: 1.2em;}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.pointer { cursor: pointer; }

.typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #34495e;
  }

  .typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .no-bullets{
  list-style-type: none;
  margin: 1.2em;
  padding: 0px;
  } 

.street-home {
  border-color: #999;
  border-width: 0px 0px 3px 0px;
  margin: 3px;
  padding: 3px;
}