<!-- Main component for a primary marketing message or call to action -->
      <div class="col-sm-12">
      <h1 class="text-lex bold">Browse Requests<h1>
        <h4>Browse currently submitted sidewalks sections below. Click the thumbs up to enter your name and email to add your support to the project.</h4>
      </div>
      <div class="col-sm-12 form-group">
      <input class="form-control" placeholder="Search for a project...">
      </div>
      <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th>Street</th>
          <th>From</th>
          <th>To</th>  
          <th>One/Both Sides</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><button class="btn btn-success"><i class="fa fa-thumbs-o-up"></i></button></td>
          <td>4/26/2016</td>
          <td>Southland Dr</td>
          <td>Nicholasville Rd</td>
          <td>Rosemont Garden</td>  
          <td>Both</td>
          <td>Funded</td>
        </tr>
        <tr>
          <td><button class="btn btn-success"><i class="fa fa-thumbs-o-up"></i></button></td>
          <td>4/26/2016</td>
          <td>Jersey St</td>
          <td>Maxwell St</td>
          <td>Winslow St</td>  
          <td>Both</td>
          <td>Project Ranked</td>
        </tr>

      </tbody>
      </table>