<!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Submit a Sidewalk Request</h1>
        <p>The City of Lexington is collecting information from citizens about where we lack sidewalks. If you have know of a section of sidewalks that you would like to submit, please use the form below.</p>
        <p>To browse projects that have already been submitted and add your support check the <a ui-sref="submit">current list here.</a>
        </p>
      </div>