<!-- Main component for a primary marketing message or call to action -->
<div ng-show="existing">
  <h1 class="text-lex bold">There are already some requests on {{formData.street}}!</h1>
  <h4>We found some existing requests on {{formData.street}}. Click the thumbs up to add your support to one of the projects below.</h4>
  <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th>Street</th>
          <th>From</th>
          <th>To</th>  
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><button class="btn btn-success"><i class="fa fa-thumbs-o-up"></i></button></td>
          <td>4/26/2016</td>
          <td>Southland Dr</td>
          <td>Nicholasville Rd</td>
          <td>Rosemont Garden</td>  
          <td>Request Received</td>
        </tr>
      </tbody>
      </table>

  <button class="btn btn-lg btn-info" ng-click="existing=false">No thanks, I have a different project to submit </button>

</div>

<div ng-hide="existing">
<form>
  <h1 class="text-lex bold">Tell us a little about {{formData.street}}</h1>
  <div class="col-sm-12">
    <h4>What intersections are the sidewalks needed between on {{formData.street}}? Make sure the two intersections cover the whole area that needs sidewalks.</h4>
  </div>
  <div class="form-group col-md-6">
    <label>From</label>
    <select class="form-control">
      <option>Nicholasville Rd</option>
    </select>
  </div>

  <div class="form-group col-md-6">
    <label>To</label>
    <select class="form-control">
      <option>Rosemont Garden</option>
    </select>
  </div>
  <div class="col-sm-12">
    <h4>Tell us a little more about your request and why {{formData.street}} needs sidewalks.</h4>
  </div>
  <div class="form-group col-md-6">
    <label>Are sidewalks needed on one or both sides of the street?</label>
    <select class="form-control">
      <option>Both Sides</option>
      <option>One Side</option>
    </select>
  </div>

  <div class="form-group col-md-6">
    <label>Would completion of this project connect existing sidewalks?</label>
    <select class="form-control">
      <option>Yes</option>
      <option>No</option>
    </select>
  </div>

  <div class="form-group col-md-6">
    <label>How would you describe the pedestrian traffic in this area?</label>
    <select class="form-control">
      <option>High Traffic</option>
      <option>Average Traffic</option>
       <option>Low Traffic</option>
    </select>
  </div>

  <div class="form-group col-md-6">
    <label>Does the lack of sidewalk cause safety issues?</label>
    <select class="form-control">
      <option>Yes</option>
      <option>No</option>
    </select>
  </div>

  <div class="form-group col-md-12">
    <label>Is there anything else we should consider when evaluating this project?</label>
    <textarea class="form-control"></textarea>
  </div>
  <h1 class="text-lex bold">Tell us about you </h1>
  <div class="col-sm-12">
    <h4>We will send you an email to verify your request. We won't share your contact information.</h4>
  </div>
  <div class="form-group col-md-4">
    <label>First Name</label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group col-md-4">
    <label>Last Name</label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group col-md-4">
    <label>Email</label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group col-md-12">
    <button class="btn btn-lg btn-success btn-responsive">Submit</button>
  </div>
</form>
</div>
