<!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Submit a Sidewalk Request</h1>
        <p>The City of Lexington is collecting information from citizens about where we lack sidewalks. If you have know of a section of road that you believe needs sidewalks, please fill out the form below.</p>
      </div>
      <form>

  <h1 class="text-lex bold">Request Information</h1>
  <p>Tell us a little about the sidewalk section you are requesting.</p>
  <div class="form-group col-md-4">
    <label>Street</label>
    <select class="form-control">
      <option>Southland Dr</option>
    </select>
  </div>

  <div class="form-group col-md-4">
    <label>From</label>
    <select class="form-control">
      <option>Eastway Dr</option>
    </select>
  </div>

  <div class="form-group col-md-4">
    <label>To</label>
    <select class="form-control">
      <option>Rosemont Garden</option>
    </select>
  </div>

  <div class="form-group col-md-6">
    <label>Are sidewalks needed on one or both sides of the street?</label>
    <select class="form-control">
      <option>Both Sides</option>
      <option>One Side</option>
    </select>
  </div>

  <div class="form-group col-md-6">
    <label>Would completion of this project connect existing sidewalks?</label>
    <select class="form-control">
      <option>Yes</option>
      <option>No</option>
    </select>
  </div>

  <div class="form-group col-md-6">
    <label>How would you describe the pedestrian traffic in this area?</label>
    <select class="form-control">
      <option>High Traffic</option>
      <option>Average Traffic</option>
       <option>Low Traffic</option>
    </select>
  </div>

  <div class="form-group col-md-6">
    <label>Does the lack of sidewalk cause safety issues?</label>
    <select class="form-control">
      <option>Yes</option>
      <option>No</option>
    </select>
  </div>

  <div class="form-group col-md-12">
    <label>Is there anything else we should consider when evaluating this project?</label>
    <textarea class="form-control"></textarea>
  </div>
  <h1 class="text-lex bold">Contact Information</h1>
  <p>This section is not required, but it will allow us to contact you with any questions or updates. We won't share your information.</p>
  <div class="form-group col-md-4">
    <label>First Name</label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group col-md-4">
    <label>Last Name</label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group col-md-4">
    <label>Email</label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group col-md-12">
    <button class="btn btn-lg btn-success btn-responsive">Submit</button>
  </div>
</form>
