<!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>View Requests</h1>
        <p>Browse currently submitted sidewalks sections below. Click the thumbs up to enter your name and email to add your support to the project.</p>
      </div>
      <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th>Street</th>
          <th>From</th>
          <th>To</th>  
          <th>One/Both</th>
          <th>Connection?</th>
          <th>Pedestrian Traffic</th>
          <th>Safety Issue?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><button class="btn btn-default"><i class="fa fa-thumbs-up"></i></button></td>
          <td>Date</td>
          <td>Street</td>
          <td>From</td>
          <td>To</td>  
          <td>One/Both</td>
          <td>Connection?</td>
          <td>Pedestrian Traffic</td>
          <td>Safety Issue?</td>
        </tr>
      </tbody>
      </table>