<!-- Main component for a primary marketing message or call to action -->
      <div>
      <h1 class="text-lex bold">Add My Support</h1>
      <h4><strong>{{request.street}}</strong> from <strong>{{request.from_street}}</strong> to <strong>{{request.to_street}}</strong></h4>
        <form name="voteForm" novalidate>
      <div class="row">
			<div class="form-group col-md-4" ng-class="{'has-error' : voteForm.first_name.$invalid && !voteForm.first_name.$pristine}" >
			    <label>First Name</label>
			    <input name="first_name" ng-model="vote.first_name" type="text" class="form-control" required>
			    <p ng-show="voteForm.first_name.$invalid && !voteForm.first_name.$pristine" class="help-block">Please enter your first name.</p>
			  </div>

			  <div class="form-group col-md-4" ng-class="{'has-error' : voteForm.last_name.$invalid && !voteForm.last_name.$pristine}">
			    <label>Last Name</label>
			    <input name="last_name" ng-model="vote.last_name"type=" text" class="form-control" required>
			    <p ng-show="voteForm.last_name.$invalid && !voteForm.last_name.$pristine" class="help-block">Please enter your last name.</p>
			  </div>

			  <div class="form-group col-md-4" ng-class="{'has-error' : voteForm.email.$invalid && !voteForm.email.$pristine}">
			    <label>Email</label>
			    <input name="email" ng-model="vote.email" ng-model-options="{debounce: 500}" type="email" class="form-control" ng-change="voteAllowed()" required>
			    <p ng-show="voteForm.email.$invalid && !voteForm.email.$pristine" class="help-block">Please enter a valid email address.</p>
			  </div>
      </div>
			  <div class="form-group">
    <label>Is there you want us to know about this project?</label>
    <textarea name="comments" ng-model="vote.comments" class="form-control"></textarea>
  </div>
  <div
  <div class="form-group">
  <button ng-show="voteCheck" class="btn btn-lg btn-success" ng-disabled="voteForm.$invalid" ng-click="submit()">Add my Support</button>
  <p ng-hide="voteCheck" class="alert alert-danger bold">You can only vote for a project once, and it looks like you already voted for this project.</p>
  </div>
        </form>
      </div>